
<form >
  <div class="row">
    <div class="form-group col-sm-3">
      <label >Usuario</label>
      <input [(ngModel)]="log.email" name="email" type="email" class="form-control" placeholder="email">
    </div>
    <div class="form-group col-sm-3">
      <label>Contraseña</label>
      <input [(ngModel)]="log.password" name="Area" class="form-control" placeholder="password">
    </div>
  </div>
  <button (click)="sendData()" type="submit" class="btn btn-danger btn-lg">Enviar</button>
</form>
<app-requeriments></app-requeriments>