<div class="container">
  <div class="text-center; rounded" style="padding: 15px; margin-top: 30px; background-color: #bd2121; color: White; margin-bottom: 5%">
    <h4 style="text-align: center">Para solicitar Material o servicio, por favor llene el siguiente formulario</h4>
  </div>
  <form >
    <div class="row">
      <div class="form-group col-sm-3">
      <label>Tipo de Requerimiento</label>
        <select class="form-control" [(ngModel)]="form.Type" name="Type" id="requrimentType">
          <option>Compra</option> 
          <option>Servicio</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label >Clave Presupuestal</label>
        <input [(ngModel)]="form.Code" name="Code" type="email" class="form-control" placeholder="Clave">
      </div>
      <div class="form-group col-sm-3">
        <label>Area Operativa</label>
        <input [(ngModel)]="form.Area" name="Area" class="form-control" placeholder="Area">
      </div>
    </div>
    <h3 style="text-align: center">Descripción de Bienes o Servicios</h3>
    <div class="row">
      <label class="col-sm-1">No.</label>
      <label class="col-sm-6">Descripción</label>
      <label class="col-sm-2">Cantidad</label>
      <label class="col-sm-2">Unidad de Medida</label>
    </div>
    <div class="row" *ngFor="let requeriment of requeriments, let i = index">
      <div class="form-group col-sm-1">
        <label>{{i+1}}</label>
      </div>
      <div class="form-group col-sm-6">
        <input [(ngModel)]="requeriment.Name" name="Name" class="form-control" placeholder="Producto o Servicio">
      </div>
      <div class="form-group col-sm-2">
        <input [(ngModel)]="requeriment.Quantity" name="Quantity" class="form-control">
      </div>
      <div class="form-group col-sm-2">
        <input [(ngModel)]="requeriment.Unit" name="Unit" class="form-control" placeholder="kg, pk, etc.">
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-5">
        <label>Justificacion</label>
        <textarea class="form-control" [(ngModel)]="form.Justification" name="Justification" aria-label="With textarea"></textarea>
      </div>
      <div class="col-sm-3">
        <label>Importe Estimado</label>
        <input [(ngModel)]="form.EstimatedAmount" name="EstimatedAmount" class="form-control" placeholder="ingrese solo numeros">
      </div>
    </div>
    <button (click)="send()" type="submit" class="btn btn-danger btn-lg">Enviar</button>
  </form>
</div>
