<div  class="container">
  <div class="text-center; rounded" style="padding: 15px; margin-top: 30px; background-color: #32b6cd; color: White; margin-bottom: 5%">
    <h4 style="text-align: center">Listado de Peticiones de Requerimientos</h4>
  </div>
  <a class="btn btn-primary" data-toggle="collapse" href="#A1" role="button" aria-expanded="false" aria-controls="A1">Area 1</a>
  <a class="btn btn-primary" data-toggle="collapse" href="#A2" role="button" aria-expanded="false" aria-controls="A2">Area 2</a>
  <a class="btn btn-primary" data-toggle="collapse" href="#A3" role="button" aria-expanded="false" aria-controls="A3">Area 3</a>
  <a class="btn btn-primary" data-toggle="collapse" href="#A4" role="button" aria-expanded="false" aria-controls="A4">Area 4</a>
  <div class="collapse" id="A1">
    <div class="card card-body">
      <div *ngFor="let form of forms" class="border-bottom border-primary">
        <div *ngIf="form.Area == 'Area 1'">
          <div *ngIf="form.Status == 'Aprobado'" class="text-center; rounded" style="background-color: #03c233; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <div *ngIf="form.Status == 'Negado'" class="text-center; rounded" style="background-color: #d32121; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <div *ngIf="form.Status == 'en proceso'" class="text-center; rounded" style="background-color: #21d3c4; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <li><strong>Fecha: </strong>{{form.Fecha}}</li>
          <li><strong>Clave Presupuestal: </strong>{{form.Code}}</li>
          <li><strong>Area Operacional: </strong>{{form.Area}}</li>
          <li><strong>Tipo de Requerimiento: </strong>{{form.Type}}</li>
          <div class="row" style="margin-top: 3%">
            <label class="col-sm-6"><strong>Descripcion</strong></label>
            <label class="col-sm-2"><strong>Cantidad</strong></label>
            <label class="col-sm-3"><strong>Unidad de Medida</strong></label>
          </div>
          <div *ngFor="let Descrip of form.Description" class="row">
            <label class="col-sm-6">{{Descrip.Name}} </label>
            <label class="col-sm-2">{{Descrip.Quantity}} </label>
            <label class="col-sm-3">{{Descrip.Unit}}</label>
          </div>
          <label><strong>Monto Estimado: </strong>${{form.EstimatedAmount}}</label>
          <div class="row" style="margin-top: 2%">
            <li><strong>Justificacion: </strong></li>
            <label class="col-sm-8">{{form.Justification}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="A2">
    <div class="card card-body">
      <div *ngFor="let form of forms" class="border-bottom border-primary" >
        <div *ngIf="form.Area == 'Area 2'">
          <div *ngIf="form.Status == 'Aprobado'" class="text-center; rounded" style="background-color: #03c233; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <div *ngIf="form.Status == 'Negado'" class="text-center; rounded" style="background-color: #d32121; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <div *ngIf="form.Status == 'en proceso'" class="text-center; rounded" style="background-color: #21d3c4; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <li><strong>Fecha: </strong>{{form.Fecha}}</li>
          <li><strong>Clave Presupuestal: </strong>{{form.Code}}</li>
          <li><strong>Area Operacional: </strong>{{form.Area}}</li>
          <li><strong>Tipo de Requerimiento: </strong>{{form.Type}}</li>
          <div class="row" style="margin-top: 3%">
            <label class="col-sm-6"><strong>Descripcion</strong></label>
            <label class="col-sm-2"><strong>Cantidad</strong></label>
            <label class="col-sm-3"><strong>Unidad de Medida</strong></label>
          </div>
          <div *ngFor="let Descrip of form.Description" class="row">
            <label class="col-sm-6">{{Descrip.Name}} </label>
            <label class="col-sm-2">{{Descrip.Quantity}} </label>
            <label class="col-sm-3">{{Descrip.Unit}}</label>
          </div>
          <label><strong>Monto Estimado: </strong>${{form.EstimatedAmount}}</label>
          <div class="row" style="margin-top: 2%">
            <li><strong>Justificacion: </strong></li>
            <label class="col-sm-8">{{form.Justification}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="A3">
    <div class="card card-body">
      <div *ngFor="let form of forms" class="border-bottom border-primary" >
        <div *ngIf="form.Area == 'Area 3'">
          <div *ngIf="form.Status == 'Aprobado'" class="text-center; rounded" style="background-color: #03c233; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <div *ngIf="form.Status == 'Negado'" class="text-center; rounded" style="background-color: #d32121; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <div *ngIf="form.Status == 'en proceso'" class="text-center; rounded" style="background-color: #21d3c4; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <li><strong>Fecha: </strong>{{form.Fecha}}</li>
          <li><strong>Clave Presupuestal: </strong>{{form.Code}}</li>
          <li><strong>Area Operacional: </strong>{{form.Area}}</li>
          <li><strong>Tipo de Requerimiento: </strong>{{form.Type}}</li>
          <div class="row" style="margin-top: 3%">
            <label class="col-sm-6"><strong>Descripcion</strong></label>
            <label class="col-sm-2"><strong>Cantidad</strong></label>
            <label class="col-sm-3"><strong>Unidad de Medida</strong></label>
          </div>
          <div *ngFor="let Descrip of form.Description" class="row">
            <label class="col-sm-6">{{Descrip.Name}} </label>
            <label class="col-sm-2">{{Descrip.Quantity}} </label>
            <label class="col-sm-3">{{Descrip.Unit}}</label>
          </div>
          <label><strong>Monto Estimado: </strong>${{form.EstimatedAmount}}</label>
          <div class="row" style="margin-top: 2%">
            <li><strong>Justificacion: </strong></li>
            <label class="col-sm-8">{{form.Justification}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="A4">
    <div class="card card-body">
      <div *ngFor="let form of forms" class="border-bottom border-primary" >
        <div *ngIf="form.Area == 'Area 4'">
          <div *ngIf="form.Status == 'Aprobado'" class="text-center; rounded" style="background-color: #03c233; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <div *ngIf="form.Status == 'Negado'" class="text-center; rounded" style="background-color: #d32121; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <div *ngIf="form.Status == 'en proceso'" class="text-center; rounded" style="background-color: #21d3c4; color: White">
            <h4 style="text-align: center">{{form.Status}}</h4>
          </div>
          <li><strong>Fecha: </strong>{{form.Fecha}}</li>
          <li><strong>Clave Presupuestal: </strong>{{form.Code}}</li>
          <li><strong>Area Operacional: </strong>{{form.Area}}</li>
          <li><strong>Tipo de Requerimiento: </strong>{{form.Type}}</li>
          <div class="row" style="margin-top: 3%">
            <label class="col-sm-6"><strong>Descripcion</strong></label>
            <label class="col-sm-2"><strong>Cantidad</strong></label>
            <label class="col-sm-3"><strong>Unidad de Medida</strong></label>
          </div>
          <div *ngFor="let Descrip of form.Description" class="row">
            <label class="col-sm-6">{{Descrip.Name}} </label>
            <label class="col-sm-2">{{Descrip.Quantity}} </label>
            <label class="col-sm-3">{{Descrip.Unit}}</label>
          </div>
          <label><strong>Monto Estimado: </strong>${{form.EstimatedAmount}}</label>
          <div class="row" style="margin-top: 2%">
            <li><strong>Justificacion: </strong></li>
            <label class="col-sm-8">{{form.Justification}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

